html,
body, a {
  font-family: 'Open Sans';
  margin:  0;
  padding: 0;
  width:100%;
  min-width: 900px;
}

header{
  grid-area: header;
}
.skew{
    grid-area: skew;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
}


.container{
  width:100%;
  min-width: 900px;
  display: grid;
  position: relative;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  grid-template-areas: 
  "header header header header"
  "skew skew skew skew"
  "main main main main"
  "footer footer footer footer"
}

.header{
  display: grid;  
  height:85vh;
  min-height: 700px;
  background: url(../img/sample2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4% 4% 0 4%;
}
.header > div.header-top > span{
  letter-spacing: 0.25em;
}
.header div.authentificantion{
  letter-spacing: normal;
  float: right;
}
.header div.authentificantion > span{
    margin-left: 50px;
    cursor: pointer
}
.header > .logo{
  text-align: center;
  justify-content: center;
}
h1{
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: 0.17em;
  margin-left: 0;
}
h1 > span {
  font-size: 1.9em;
}
nav {
  list-style: none;
  align-self: end;  
}
nav ul{
  display:grid;
  list-style: none;
  color: inherit;
  margin: 0 0 3% 0;
  padding-left: 0;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
}
nav ul li{
  background: transparent;
  padding: 20px 95px;
  border: solid #ffffff 2px;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #ffffff;
  font-size:1.1em;
}

header{
  background: #000000;
  color: #ffffff;
  font-size:1.1em;
}

.skew{
  overflow: hidden;
  position: relative;
  width: 100%;
  background: black;
}
.skew-upper{
  min-height:200px;
  color:white;
  padding: 4% 4% 8% 4%;
  margin-bottom:3%;
  text-align: right;
}
.skew-upper p{
  max-width:30%;
  text-align: left;
  float:left;
  position: absolute;
  z-index: 2;
  top: 50%;
  color:#000000;
}
.skew-upper p span {
    font-weight: 600;
}
.skew-upper p+p{
  padding-top: 4%;
  color:#ffffff;
  position: relative;
  float: right;
}
.skew-lower{
  background: #f3f3f3;
  padding: 4%;
  position: relative;
}
.skew-lower:before {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  height: 400%;
  width: 120%;
  top: -120%; 
  left: -10%;
  transform: rotate(10deg);
  z-index: 0;
}
main {
  background: #f3f3f3;
  color: #000000;
  font-size:1.1em;
  position: relative;
}
article h2{
  position: absolute;
  top: -5%;
  margin: 0 calc((92% - 450px)/2);
  text-align: center;
  font-weight: 500
}
article h2 span {
    font-weight: 700
}

article{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 0 4% 4% 4%;
  grid-gap: 4%;
}
.article-text{
  padding-left: 4%;
  text-align: center;
}
.article-text p:not(:first-child){
   margin-top: 50px;
}

.article-picture, .gallery-pic{
  display: flex;
  position: relative;
  z-index: 0;
}
.article-picture:nth-of-type(1){
  background-image: url(../img/sample-1.jpg);
  background-size: cover;
}
.article-text + .article-picture{
  background-image: url(../img/sample-2.jpg);
  background-size: cover;
}

.gallery{
  margin-top: 2%;
  padding: 2%;
  background: #ffffff;
  text-align: center
}
.gallery-pictures{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 4%;
  padding: 0 4% 4% 4%;	
}
.gallery-pic{
  height: 400px;
  width: auto;
  background-size: cover;
  justify-content: center;
}
.gallery-pic:nth-child(1){
  background-image: url(../img/news-list-1.jpg);
}
.gallery-pic:nth-child(2){
  background-image: url(../img/news-list-2.jpg);
}
.gallery-pic:nth-child(3){
  background-image: url(../img/news-list-3.jpg);
}
.gallery-pic:nth-child(4){
  background-image: url(../img/news-list-4.jpg);
}

span.likes , span.description, span.explore {
  display: inline-block;
  position: absolute;
  color: #ffffff;
  z-index: 2;
  margin: 3.5%
} 
span.likes{
  right:0;
  border: solid 2px #ffffff;
  padding: 1% 2%;
}
span.description{
  bottom:0;
  left:0;
}

span.explore{
  align-self: center;
  margin:0;
  padding: 1em 0;
  background:#097774;
  width: 90%;
  font-weight: 900;
  text-align: center;
  opacity: 0.8;
  cursor: pointer
}

.gallery button{
  width: 30%;
  padding: 1em 0;
  border: none;
  background: #097774;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 1em;
  margin: 2% 0 1.5% 0;
  cursor: pointer
}

.subscribe{
  padding: 2% 2% 4% 2%;
}
.subscribe > p{
  padding-right: 4%;
}
.subscribe > div{
  display:flex;
  justify-content: flex-end;
}
.subscribe > div > span{
  font-size: 2em
}
.subscribe > div > span > span {
    font-weight: 700;
} 
input{
  margin-left: 30px;
  margin-right: 15px;
  height: 2em;
  padding: 15px 50px 15px 15px;
  border: solid #000000 1px;
}
input::placeholder{
  color: #000000;
  font-size: 1.4em;
}
input + button{
  padding: 10px 15px 15px 15px;
  border: none;
  background: #097774;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 1.4em;
  cursor: pointer
}
footer{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding: 1% 0;
}
footer > .copyrights{
  color: #9e9e9e;
}
footer > div{
  text-align: right;
}
footer > div > span {
  margin-left: 50px;
  cursor: pointer
}