h2 {
  text-align: center;
  font-size: 2em;
  background-color: whitesmoke;
  padding: 30px;
}

form {
  display: flex;
  margin: 20px auto;
  width: 800px;
  border: silver 2px solid;
  padding: 30px;
  justify-content: space-around;


  legend {

    label,
    input,
    textarea {
      display: block;
      width: 300px;
      font-size: 1.5em;
      border-radius: 5px;
    }

    input {
      box-sizing: border-box;
      margin-bottom: 25px;
      font-size: 1.25em;
      padding: 10px;
    }


  }

}
