$bodyBg:#21232e;
$underlineColor: #ff4e33;
$btnBg: #e3ac00;

$blocksFooterBg: #3b3f50;
$blocksFooterColor: #d1d1d1;

$textFont: 'Fresca', sans-serif;
$textColor: #fff;

$headerBg: url(../img/m-h-night.jpg);

$bannerGradient: linear-gradient(to right, #dda206, #99374c);