$bodyBg:#fff;
$underlineColor: #14a0c7;
$btnBg: #699900;

$blocksFooterBg: #21232e;
$blocksFooterColor: #c0c3af;

$textFont: 'Hind', sans-serif;
$textColor: #2c2f3c;

$headerBg: url(../img/m-h-day.jpg);

$bannerGradient: linear-gradient(to right, #639312, #2f5dd3);